#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
 

body {
  background-color: white; /* This ensures the whole page background is white */
  margin: 0; /* Reset default margin */
  font-family: 'Arial', sans-serif;
  font-family: 'Reddit Sans', sans-serif; /* Example font family */
}
@font-face {
  font-family: 'Calsan';
  src: url('./assets/fonts/calsan.otf') format('opentype');
  /* Add other font formats (e.g., woff, woff2) if available */
}